@import "tailwindcss";

@theme {
  --color-cream-100: #fffcf2;
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

:root {
  background-color: #fffcf2;
  color: #1a1a1a;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}